<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Video.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E38FBD3D1CF7FB52008B322A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E38FBD561CF7FB52008B322A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E38FBD611CF7FB52008B322A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
